<% if @user.errors.any? %>
  <div id="error_explanation">

    <p>Please check the following fields for errors:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>