
    <h1>BC Books</h1>
    <p>
     Want to keep you term bill low? Are you tired of waiting for books to be mailed by Amazon or ebay? Then this site
	  is for you. Buy or Rent books from other Berea students here! Heck, you can even borrow
	  books from your friends here! :)
    </p>
  