
    <h1>BC Books</h1>
    <p>
      Spending too much time and money buying books online or at the bookstore? Then this site
	  is for you. Buy or Rent books from other Berea students here! Heck, you can even borrow
	  books from your friends here! :)
    </p>
  